{% extends "budget/base.html" %}

{% block title %}Budget - Index{% endblock %}

{% block content %}

<h4>Recent transactions</h4>
{% if latest_transactions %}
    <ul>
    {% for transaction in latest_transactions %}
        <li><a href="{% url 'budget:transaction_detail' transaction.id %}">{{ transaction.get_type_display }} of {{ transaction.amount }} on {{ transaction.date }} for {{ transaction.reason }}</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'budget:transaction_list' %}">More transactions...</a>
{% else %}
    <p>No transactions yet!</p>
{% endif %}

{% endblock %}
