{% extends "budget/base.html" %}

{% block title %}{% endblock %}

{% if error_message %}
{% block messages %}
<p><strong>{{ error_message }}</strong></p>
{% endblock %}
{% endif %}

{% block content %}
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <h4>Record a new transaction</h4>
    </div>
</div>

<form role="form" class="form-horizontal" action="{% url 'budget:transaction_save' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="trans_date">Date</label>
        <div class="col-sm-4">
            <input class="form-control" name="trans_date" id="trans_date" type="text">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2">
            <label class="radio-inline">
            <input type="radio" name="trans_type" id="type_db" value="DB" />
            Debit</label>

            <label class="radio-inline">
            <input type="radio" name="trans_type" id="type_cr" value="CR" />
            Credit</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="trans_amount">Amount</label>
        <div class="col-sm-4 ">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input class="form-control" name="trans_amount" id="trans_amount" type="text">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="trans_desc">Description</label>
        <div class="col-sm-4">
            <select class="form-control" id="trans_desc">
                <option value="" disabled="disabled" selected="selected">Please select a description</option>
                {% for reason in reasons.all %}
                <option value="{{ reason.id }}">{{ reason.reason_desc }}</option>
                {% endfor %}
                <option value="other">Other</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="trans_acc">Account</label>
        <div class="col-sm-4">
            <select class="form-control" id="trans_acc">
                <option value="" disabled="disabled" selected="selected">Please select an account</option>
                {% for account in accounts.all %}
                <option value="{{ account.id }}">{{ reason.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!--<input type="submit" value="Add" />-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>


</form>

{% endblock %}
