.budget-nav {
    background-color: #48CFAD;
}

.budget-nav > li > a {
    color: #FFFFFF;
}

.budget-nav > li > a:focus, .budget-nav > li > a:hover {
    background-color: #37BC9B;
}

.header-row {
    padding-bottom: 10px;
}
