.budget-nav {
    background-color: #F6BB42;
}

.budget-nav > li > a {
    color: #FFFFFF;
}

.budget-nav > li > a:focus, .budget-nav > li > a:hover {
    background-color: #FFCE54;
}

.header-row {
    padding-bottom: 10px;
}
