.budget-nav {
    background-color: #48CFAD;
}

.budget-nav > li > a {
    color: #FFFFFF;
}

.budget-nav > li > a:focus, .budget-nav > li > a:hover {
    background-color: #37BC9B;
}

.header-row {
    padding-bottom: 10px;
}

.trans-panel-footer {
    background-color: #48CFAD;
}

.trans-panel-footer > a {
    color: #FFFFFF;
}

.trans-panel-body {
    background-color: #36D7B7;
    color: #FFFFFF;
}

.trans-panel-body > ul > li > a {
    color: #FFFFFF;
}
